.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 500px;
    text-align: center;
    color: #DCDDDE;
    padding: 4% 10%;

    background-image: url("/fondo casa.png");
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: 50% 80%;
}

.title {
    color: #FFFFFF;
}

.contactsDiv {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}